In [2]:
my_name = 'AMUTUHAIRE ARNOLD'
print(f'Uppercase: {my_name.upper()}')

Uppercase: AMUTUHAIRE ARNOLD

In [3]:
fruits = ['Apple', 'Banana', 'Orange', 'Strawberry', 'Grape']

print("The first fruit is:", fruits[0])

print("The last fruit is:", fruits[-1])

The first fruit is: Apple
The last fruit is: Grape

In [8]:
student = {
    "name": "Amutuhaire Arnold",
    "age": 23,
    "course": "Data Science"
}

print(student["name"])

Amutuhaire Arnold

In [10]:
text = "DataScience"
print(text[-3:])

nce

In [11]:

my_sentence = "python is fun"

print(my_sentence)

python is fun